[include]
    path = ".gitconfig.local"

[credential]
    helper = osxkeychain
[core]
    excludesfile = ~/.gitignore-global

[alias]
    rootdir = rev-parse --show-toplevel
    
    co = checkout
    ci = commit
    cif = commit -e -F commit-message.md
    st = status
    sq = rebase -i

    unstage = reset HEAD --
    discard = reset --hard HEAD
    uncommit = reset HEAD~

    sqm = rebase -i master
    com = checkout master
    fom = fetch origin master
    mom = merge origin master
    rbm = rebase master
    updatem = !"git com && git fom && git mom;"
    rbbr = !"git co $1 && git rbm"
    
    kalm = mergetool -y -t Kaleidoscope
    kald = difftool -y -t Kaleidoscope
    look = difftool -y -t Kaleidoscope HEAD
    lookc = difftool -y -t Kaleidoscope HEAD~ HEAD
    
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustexitcode = true
[merge]
    tool = merge-switch
[mergetool "merge-switch"]
    cmd = /usr/local/bin/git-merge-switch \"${BASE}\" \"${MERGED}\" \"${LOCAL}\" \"${REMOTE}\"
    trustexitcode = true
